<div class="container3">
  <h1>My recipes</h1>
  <div class="d-inline">
    <div class="container3">
      <h2>Recipe</h2>
      <% @recipes.each do |recipe| %>
        <div class="favcard recipe p-5 text-center">
          <p>Meal: <%= recipe.meal.name %></p>
          <p>Calories: <%= recipe.meal.calories %></p>
          <p>Proteins: <%= recipe.meal.proteins %></p>
          <%= form_with(url: recipe_path(recipe), method: :delete, data: { confirm: "¿Are you sure you want to delete this recipe?" }) do |form| %>
            <%= form.submit "Delete", class: "delete-recipe" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="container3">
      <h2>Time</h2>
       <form action="#">
        <input type="text" id="time" name="time">
      </form>
    </div>
  </div>
</div>

<p>Total Calories: <%= @total_calories %></p>
<p>Total Proteins: <%= @total_proteins %></p>
