
<div class="container">
  <h1>My recipes</h1>
  <div class="d-flex">
    <div class="container">
      <h2>Recipe</h2>
      <% @recipes.each do |recipe| %>
        <div class="recipe">
          <p>Comida: <%= recipe.meal.name %></p>
          <p>Calories: <%= recipe.meal.calories %></p>
          <%= form_with(url: recipe_path(recipe), method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar esta receta?" }) do |form| %>
            <%= form.submit "Eliminar" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <h2>Time</h2>
       <form action="#">
        <input type="text" id="time" name="time">
      </form>
    </div>
  </div>
</div>

<p>Total Calories: <%= @total_calories %></p>
