<div class="container">
  <!-- Primera carta -->
  <div class="card mb-3 custom-card" style="margin-top: 10px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center">GOOD HEALTH STARTS WITH A FOOD DIET</h2>
          <p class="card-text text-center">
            Do you want to pay more attention to your diet? Control your meals, know your habits and achieve your goals with MealMate.
          </p>

          <div class="text-center">
            <%= link_to "START NOW", new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-gray" %>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "foto1.jpg", class: "img-fluid rounded-circle", alt: "Imagen de la primera carta" %>
      </div>
    </div>
  </div>

  <!-- Segunda carta -->
  <div class="card mb-3 custom-card" style="margin-top: 10px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "foto2.jpg", class: "img-fluid rounded-circle", alt: "Imagen de la segunda carta" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center">CHOOSE FROM HUNDREDS OF HEALTHY & EASY RECIPES</h2>
          <p class="card-text text-center">Access our simple recipes that will help you achieve your goals.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercera carta -->
  <div class="card mb-3 custom-card" style="margin-top: 10px;">
    <div class="card-body text-center">
      <h2 class="card-title">THE TOOLS YOU NEED TO REACH YOUR GOALS</h2>
      <p class="card-text">
        Do you want to lose weight, tone up or invest in your overall health? We offer you the functions you need to get it.
      </p>
      <div class="row">
        <!-- Primera carta horizontal -->
        <div class="col-4">
          <%= image_tag "registro.png", class: "img-fluid", alt: "Imagen de la primera carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Registro simple</h3>
          <p>Párrafo de la primera carta horizontal</p>
        </div>
        <!-- Segunda carta horizontal -->
        <div class="col-4">
          <%= image_tag "target.png", class: "img-fluid", alt: "Imagen de la segunda carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Alcanza tus metas</h3>
          <p>Párrafo de la segunda carta horizontal</p>
        </div>
        <!-- Tercera carta horizontal -->
        <div class="col-4">
          <%= image_tag "shoe.png", class: "img-fluid", alt: "Imagen de la tercera carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Mantén la motivación</h3>
          <p>Párrafo de la tercera carta horizontal</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón "COMIENZA AHORA" -->
  <div class="text-center">
    <%= link_to "Join Our Community", new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-gray" %>
  </div>
</div>
