<div>
  <!-- Primera carta -->
  <div class="card m-3 custom-card" style="margin-top: 10px; background-color: #ffffff;">
    <div class="row g-0 align-items-center">
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center">GOOD HEALTH STARTS WITH A FOOD DIET</h2>
          <p class="card-text text-center">
            Do you want to pay more attention to your diet?
          </p>
          <p class="card-text text-center">Control your meals, know your habits and achieve your goals with MealMate.</p>

          <div class="text-center">
            <%= link_to "START NOW", new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-gray" %>
          </div>

        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <%= image_tag "foto3.jpg", class: "img-fluid rounded-circle p-3", alt: "Imagen de la primera carta" %>
      </div>
    </div>
  </div>

  <!-- Segunda carta -->
  <div class="card m-3 custom-card" style="margin-top: 10px; background-color: black; color: white;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <%= image_tag "foto4.jpg", class: "img-fluid rounded-circle mx-auto d-block p-3", alt: "Imagen de la segunda carta" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center">CHOOSE FROM HUNDREDS OF</h2>
          <h2 class="card-title text-center">HEALTHY & EASY RECIPES</h2>
          <p class="card-text text-center">Access our simple recipes that will help you achieve your goals.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercera carta -->
  <div class="card m-3 custom-card" style="margin-top: 10px; background-color: #ffffff;">
    <div class="card-body text-center">
      <h2 class="card-title">THE TOOLS YOU NEED TO REACH YOUR GOALS</h2>
      <p class="card-text">
        Do you want to lose weight, tone up or invest in your overall health? We offer you the functions you need to get it.
      </p>
      <div class="row">
        <!-- Primera carta horizontal -->
        <div class="col-4">
          <%= image_tag "registro.png", class: "img-fluid", alt: "Imagen de la primera carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Simple Registration</h3>
          <p>Quick and easy sign-up to join our community and start your journey towards better health.</p>
        </div>
        <!-- Segunda carta horizontal -->
        <div class="col-4">
          <%= image_tag "target.png", class: "img-fluid", alt: "Imagen de la segunda carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Reach Your Goals</h3>
          <p>Tools and support to help you set and achieve your health goals.</p>
        </div>
        <!-- Tercera carta horizontal -->
        <div class="col-4">
          <%= image_tag "shoe.png", class: "img-fluid", alt: "Imagen de la tercera carta horizontal" %>
          <h3 style="font-weight: bold; margin-top: revert;">Stay Motivated</h3>
          <p>Stay inspired on your wellness journey with our community and resources.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón "COMIENZA AHORA" -->
  <div class="text-center">
    <%= link_to "Join Our Community", new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-gray" %>
  </div>
</div>
