<div class="my-information-container">
  <h2>My information</h2>

  <div class="information-details">
    <p>Caloric Expenditure: <%= @gasto_calorico.round %>kcal</p>
    <p>Requirements:</p>
    <ul>
      <li>Little Activity (1-3 days): <%= @requerimientos[:poca_actividad].round %>kcal</li>
      <li>Moderate Activity (3-5 days): <%= @requerimientos[:actividad_moderada].round %>kcal</li>
      <li>Intense Activity (6-7 days): <%= @requerimientos[:actividad_intensa].round %>kcal</li>
    </ul>
  </div>

  <%= link_to "<i class='fa-solid fa-left-long back-icon'></i> Back".html_safe, :back, class: "btn btn-secondary rounded-pill shadow" %>
</div>
