<div class="container">
  <h1 style="text-align: center; margin: revert;">Mis Favoritos</h1>
  <div class="row">

    <% @favorite_meals.each do |meal| %>
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">

            <div class="col-md-4">
              <%= image_tag meal.image_url, class: "img-fluid rounded-start", alt: meal.name %>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= link_to meal.name, meal_path(meal) %></h5>
                <p class="card-text">Portion: <%= meal.portion %></p>
                <p class="card-text">Preparation Time: <%= meal.preparation_time %> minutes</p>
              </div>
            </div>

            <div class="card-footer text-end">
              <%= button_to remove_from_favorites_meal_path(meal), method: :delete, class: "btn btn-delete" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
