<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if meal.image_url.present? %>
            <%= image_tag meal.image_url, class: "card-img-top img-fluid", alt: meal.name, id: "meal-image-#{meal.id}" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= meal.name %></h5>
          </div>

          <div class="card-footer text-center">
            <div class="btn-group" role="group" aria-label="Button group">
            <%# <button class="btn btn-primary btn-icon"><i class="fa-solid fa-plus"></i></button> %>
              <%= form_with url: add_to_my_recipes_meal_path(meal), method: :post do |form| %>
                <%= form.button class: "btn btn-icon", id: "add-button-#{meal.id}" do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              <% end %>

              <button class="btn btn-ver-receta mx-1">Ver receta</button>

              <%= form_with(url: add_to_favorites_meal_path(meal), method: :post) do |form| %>
                <%= form.button type: :submit, class: 'btn btn-corazon' do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>
              <% end %>
              <%= button_to "Like", add_to_favorites_meal_path(meal)  %>

            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('[data-action="add"]').forEach(function(button) {
      button.addEventListener('click', function() {
        var icon = button.querySelector('i');
        if (icon.classList.contains('fa-plus')) {
          icon.classList.remove('fa-plus');
          icon.classList.add('fa-check');
          icon.style.color = '#63E6BE';
          button.setAttribute('data-action', 'check');
        } else {
          icon.classList.remove('fa-check');
          icon.classList.add('fa-plus');
          icon.style.color = ''; // Restaura el color original del icono
          button.setAttribute('data-action', 'add');
        }
      });
    });
  });
</script>
