<div class="container pt-4">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-md-4">
        <div class="mealcard cardd mb-4">
          <% if meal.image_url.present? %>
            <%= image_tag meal.image_url, class: "card-img-top img-fluid", alt: meal.name, id: "meal-image-#{meal.id}" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= meal.name %></h5>
            <%= button_to meal_path(meal), method: :delete, data: { confirm: "¿Are you sure you want to delete this recipe?" }, class: "btn btn-icon btn-delete-meal" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>

          <div class="card-footer text-center">
            <div class="btn-group" role="group" aria-label="Button group">
            <%# <button class="btn btn-primary btn-icon"><i class="fa-solid fa-plus"></i></button> %>
              <%= form_with url: add_to_my_recipes_meal_path(meal), method: :post do |form| %>
                <%= form.button class: "btn btn-icon btn-heart", id: "add-button-#{meal.id}" do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              <% end %>

              <%= link_to view_recipe_meal_path(meal), class: "btn btn-ver-receta mx-1", style: "border-radius: 10px;" do %>
                See recipe
              <% end %>

              <%= button_to add_to_favorites_meal_path(meal), method: :post, class: "btn btn-outline btn-heart" do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>


            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('[data-action="add"]').forEach(function(button) {
      button.addEventListener('click', function() {
        var icon = button.querySelector('i');
        if (icon.classList.contains('fa-plus')) {
          icon.classList.remove('fa-plus');
          icon.classList.add('fa-check');
          icon.style.color = '#63E6BE';
          button.setAttribute('data-action', 'check');
        } else {
          icon.classList.remove('fa-check');
          icon.classList.add('fa-plus');
          icon.style.color = ''; // Restaura el color original del icono
          button.setAttribute('data-action', 'add');
        }
      });
    });
  });
</script>

<%# <script>
 document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.mealcard').forEach(function(mealcard) {
    card.addEventListener('click', function() {
      document.querySelectorAll('.mealcard').forEach(function(otherCard) {
        if (otherCard !== mealcard) {
          otherCard.classList.add('blur');
        }
      });
    });

    card.querySelectorAll('.btn').forEach(function(button) {
      button.addEventListener('click', function(event) {
        event.stopPropagation(); // Detiene la propagación del evento
      });
    });
  });
});

</script> %>
