<div class="container4">
  <h1><%= @meal.name %></h1>
  <p>Calories: <%= @meal.calories %></p>
  <p>Preparation: </p>
  <%= @meal.description %>
  <%= simple_format(@recipe_description) %>

  <%# <%= link_to "<i class='fa-solid fa-left-long back-icon'></i> Back".html_safe, root_path, class: "btn btn-secondary rounded-pill shadow", style: "display: inline-flex; align-items: center;" %>
</div>
