<!DOCTYPE html>
<html>
  <head>
    <title>MealMate</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>

  </head>

  <body class="d-flex flex-column min-vh-100" style="padding-bottom: 0;">
    <div class="row flex-grow-1 <%= 'login_body' unless current_user %>">
      <div class="col">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%= yield %>
        <p class="alert"><%= alert %></p>
        <p class="notice"><%= notice %></p>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>

</html>
